#Review{
    width: 80px;
}

h1{
    background-color: #000000;
    color: #FF7614;
}

#menu{
    background: #000000;
    color: #FF7614;
    font-size: 25px;
}

ul{
    background-color: #FFA04D;
}

h2{
    background-color: #000000;
    color: #FF7614;
}

hr{
    background-color: #FF7614;
    line-height: 500px;
    height: 5px;
}

#indice{
    background-color: #FF7614;
}

#jogos{
    width: 150px;
}

#stars{
    width: 25px;
}

#equipe{
    background-color: #FF7614;
}

#name{
    width: 120px;
}

#email{
    width: 150px;
}

#nomes{
    text-decoration: underline #ffff00;
}

#topo{
    background-color: #000000;
    color: #FF7614;
}

#topocor{
    color: #FFA04D;
}